---
const {platform, username } = Astro.props 
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        border-radius: 15px;
        color: white;
        background-color: #00496e;
        text-decoration: none;
    }

</style>